<div class="p-g-3x zipper-back-black zipper-color-white zipper-footer">
  <div class="mt-3x">
    <p class="zipper-roboto zipper-regular-font">Escríbenos:</p>
    <p class="zipper-roboto zipper-regular-font">zipper.latam@gmail.com</p>
  </div>
  <div class="mt-3x">
    <p class="zipper-roboto zipper-regular-font">Términos y condiciones</p>
  </div>
  <div class="mt-3x">
    <a href="https://www.facebook.com/ZIPPER.LATAM" target="_blank"><img src="assets/images/icons/fac.png" ></a>
    <a class="ml-3x" href="https://www.instagram.com/zipper.latam/" target="_blank"><img src="assets/images/icons/instagram.png" ></a>
  </div>
  <div class="zipper-roboto zipper-regular-font mt-3x">&copy; 2021 ZIPPER</div>
</div>
