@import 'styles.scss';
.product-card {
  background-color: transparent!important;
  img{
    max-width: 100%;
  }
  .card-name, .card-price-box{
    margin-top: 5px;
  }
  .card-price{
    text-align: right;
    position: relative;
    span{
      margin-right: 5px;
    }
  }
  .card-btn{
    width: 100%;
    border-radius: 0px;
    border: $offert-border-btn;
    color: $offert-btn;
    font-weight: 300;
  }
}