<div class="zipper-flex benefits" >
  <div class="zipper-flex benefits-left zipper-center-align">
    <div class="zipper-benefits-photo zipper-flex ">
      <img src="../../assets/images/landing/recycle.jpg" >
    </div>
    <div class="zipper-benefits-text">
      <p class="zipper-back-blue zipper-align zipper-bigger-text-background zipper-roboto zipper-regular-font">Cada prenda apoya nuestra visón de una moda sostenible.</p>
    </div>
  </div>
  <div class="zipper-flex-1 benefits-right">
    <p class="mg-3x">Por lo tanto nuestras prendas:</p>
    <ul>
      <li>
        <fa-icon class="close-wrap zipper-icons-mob" [icon]="close"></fa-icon>
        No están hechas de piel.
      </li>
      <li>
        <fa-icon class="close-wrap zipper-icons-mob" [icon]="close"></fa-icon>
        No son copia.
      </li>
      <li>
        <fa-icon class="close-wrap zipper-icons-mob" [icon]="close"></fa-icon>
        No violan los derechos humanos.
      </li>
      <li>
        <fa-icon class="close-wrap zipper-icons-mob" [icon]="close"></fa-icon>
        No poseen alto % de químicos contaminantes.
      </li>
    </ul>
  </div>
</div>
