<section class="zipper-max-sm center zipper-relative market mb-4px">
  <h1 class="text-center zipper-italic zipper-title-text mg-3x">MUJERES</h1>
  
  <div class="zipper-flex market-container">
    <div class="col-lg-2">
      <app-lateral-market></app-lateral-market>
    </div>
    <div class="col-lg-10 center market-container-right">
      <div class="container ">
        <div *ngFor="let product of products;index as i" class="col-lg-3">
          <app-product-card [data]="product" [type]="'new'" ></app-product-card>
        </div>
      </div>
    </div>
  </div>
</section>
