@import 'styles.scss';

@media (max-width: $breakpoint-m-max){
  .market{
    .market-container{
      .col-lg-2{
        width: 0;
      }
      .market-container-right{
        width: 100%!important;
        .col-lg-3{
          width: 50%!important;
        }
      }
    }
  }
}
