<section class=" zipper-back-white p-tb-4x shop-list-container">
  <div class="zipper-profile-section zipper-background-gray p-g-4x zipper-max-sm center zipper-relative ">
    <div class="zipper-edit-container  zipper-background-gray zipper-flex">
      <div class="product-list zipper-back-white mr-3x p-3x ">
        <div>
          <div class="product-list-text">
            <h2 class="mb-3x">Tu cesta (<span>3</span>) artículos</h2>
          </div>
          <div>
            <div *ngFor="let shop of shopList ;index as i" class="mb-2x">
              <app-shop-product-description [shopListData]="shop" ></app-shop-product-description>
              <div class="zipper-align-r zipper-roboto zipper-color-gray zipper-sm-text"><span> <fa-icon class="mr-1x" [icon]="close"></fa-icon>eliminar</span></div>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="product-total-cost zipper-back-white p-3x">
        <div>
          <h2 class="mb-3x">
            Total
          </h2>
          <div class="total-container">
            <div class="zipper-total-grid">
              <div class="total-base">
                <div class="zipper-grid mb-2x">
                  <div class="grid-elm zipper-roboto">
                    Subtotal
                  </div>
                  <div class="grid-elm-r">
                   <span class="mr-1x">PEN</span> 12
                  </div>
                </div>
                <div class="zipper-grid mb-2x">
                  <div class="grid-elm zipper-roboto">
                    Envío
                  </div>
                  <div class="grid-elm-r">
                    0
                  </div>
                </div>
                <hr>
                <div class="zipper-grid">
                  <div class="grid-elm zipper-roboto">
                    Total
                  </div>
                  <div class="grid-elm-r">
                    <span class="mr-1x">PEN</span> 12
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="mt-3x zipper-btn-group text-center">
            <a routerLink="/checkout/{{shopId}}"> <button class="zipper-btn zipper-btn-md zipper-btn-black" >CONTINUAR PEDIDO</button></a>
           </div>
        </div>
      </div>
    </div>
   
  </div>
</section>
