<section class="zipper-background-gray p-tb-4x">
  <div class="zipper-profile-section  zipper-max-sm center zipper-relative ">
    <app-author-profile></app-author-profile>
    <div class="p-tb-4x">
      <app-bottom-author-profile></app-bottom-author-profile>
    </div>
  </div>
</section>


<!-- 

    <div class="profile-box"> 
      <div class="profile-box-header flex-box">
        <div class="profile-header-img">
          <fa-icon [icon]="user" ></fa-icon>
        </div>
        <div class="profile-description">
          <h4>Amdrea cAVRERA</h4>
          <p>Latin american designer</p>
          <a>Uncoming Auction: Nov 12, 2020</a>
        </div>
        <div class="profile-followers">
          <button>Enviar mensaje</button>
          <span>29 followers</span>
        </div>
      </div>
      <div class="profile-tabs">
        <ul class="profile-tabs-box flex-box">
          <li class="profile-tab">My Bids
            <ul class="sub-profile-box flex-box">
              <li>Current Bids</li>
              <li>Upcoming Lots</li>
              <li>Past Lots</li>
            </ul>
          </li>
          <li class="profile-tab">
            <span class="hide-tab">My Auctions</span>
            <span> <fa-icon [icon]="calendar"></fa-icon></span>
          </li>
          <li class="profile-tab"><span class="hide-tab">Favorites</span><span><fa-icon [icon]="heart"></fa-icon></span></li>
        </ul>
      </div>
    </div>
    <div >
      <div *ngFor="let product of cards;index as i" class="box-flex-item now-card">
        <a [routerLink] = "['/product', product.id]">
        <app-offert-card [data]="product"  ></app-offert-card>  
        </a>
      </div>
    </div>
  
  
</section> -->
