<div class="home-box zipper-max-sm center zipper-relative">
  <div class="rotating for-designers-btn" >
    <img src="../../assets/images/icons/design.png">
  </div>
  <section>
    <div class="text-center zipper-home-text zipper-light-font letter-5x mt-2x" >Creamos prendas con mucho estilo, tu estilo!</div>
    <div class="zipper-relative mt-3x">
      <div class="zipper-flex center home-wrap-box">
        <div class="zipper-home-header-photo zipper-flex ">
          <img src="../../assets/images/landing/fashion.jpg" >
        </div>
        <div class="zipper-home-header-text zipper-relative ">
          <h1 class="center zipper-title-text">¿QUÉ ES <span class="zipper-italic">ZIPPER</span>?</h1>
          <div>
            <p class="zipper-back-yellow zipper-big-text-background zipper-roboto zipper-regular-font">Es una plataforma donde apoyarás a los diseñadores emergentes siendo
               parte del proceso de tu próxima prenda favorita!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="zipper-lo-mas-nuevo m-g-3x ">
    <div >
      <h2 class="zipper-italic mb-3x">LO MÁS NUEVO</h2>
      <app-news-product></app-news-product>
    </div>
  </section>
  <section class="zipper-rediseña m-g-3x">
    <div class="zipper-rediseña-image zipper-rediseña-img-xs"></div>
    <div class="zipper-flex center">
        <div class="zipper-rediseña-info">
          <h3 class="zipper-italic mb-2x">REDISEÑA TU ROPA!</h3>
          <div>
            <p class="zipper-roboto mb-2x">Personaliza tu ropa con un diseñador, sí, la que tienes guardada en tu armario!</p>
            <ul class="zipper-roboto ">
              <li>1. Envía tu ropa.</li>
              <li>2. Describe tu estilo.</li>
              <li>3. Recibe tu prenda personalizada.</li>
            </ul>
          </div>
          <div class="mt-3x">
            <button class="zipper-btn-black zipper-btn zipper-btn-big zipper-barlow center zipper-italic">QUIERO REDISEÑAR!</button>
          </div>
        </div>
        <div class="zipper-rediseña-image zipper-rediseña-img-md"></div>
    </div>
  </section>
  <section class="zipper-beneficios m-g-3x">
    <app-benefits></app-benefits>
  </section>
  <section class="main-container designer-click">
    <hr>
    <div class="m-g-3x zipper-flex">
      <h3  class="zipper-bigger-text-background zipper-barlow">SI ERES DISEÑADOR HAZ CLICK</h3>
      <button class="zipper-btn-black zipper-btn zipper-btn-big ml-3x zipper-barlow zipper-italic">AQUÍ</button>
    </div>
  </section>
</div>
